version: 2.1

jobs:
  test:
    docker:
      - image: circleci/node:16.13.0
        auth:
          username: $DOCKER_USER
          password: $DOCKER_TOKEN
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - run:
          name: Creates backups folder
          command: mkdir backups
      - run:
          name: Creates credentials folder
          command: mkdir key
      - run:
          name: Run Tests with reports
          command: |
            export GOOGLE_APPLICATION_CREDENTIALS="$PWD/key/private_key.json"
            echo $GOOGLE_APPLICATION_CREDENTIALS
            echo $PRIVATE_KEY > $GOOGLE_APPLICATION_CREDENTIALS
            npm run test:report
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports/coverage
workflows:
  test:
    jobs:
      - test